.THIS .table {
    width: 100%;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    table-layout: fixed;
}

.THIS .heading-row {
    font-weight: 400;
}

.THIS .heading-cell {
    text-transform: uppercase;
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    
    text-align: left;
}

.THIS .data-row {
    border-bottom: 
}

.THIS .data-cell {
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    
    text-align: left;
}

.THIS .heading {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    /*text-transform: uppercase;*/
}

.THIS .slds-card__header {
    background-color: rgb(243, 242, 242);
    margin-bottom: 0px;
    padding-bottom: 12px;
}

.THIS .slds-card__footer {
    margin-top: 0px;
    text-align: left;
    background-color: rgb(243, 242, 242);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.THIS .title {
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 112, 210);
}

.THIS table.embedded {
    border-top: none;
}