.THIS {
    font-family: 'Titillium Web', sans-serif;
}

.THIS table.heatmap {
    background: white;
    width: inherit;
}

.THIS table.heatmap td {
    border-bottom: 1px solid black;
    padding: 2px;
    padding-right: 6px;
}

.THIS table.heatmap td.p{
    background: green;
}

.THIS table.heatmap td.i{
    background: orange;
}

.THIS table.heatmap td.e{
    background: pink;
}

.THIS table.heatmap td.bordered {
    border: 1px solid black;
}

.THIS table.heatmap tr.heading td {
    border-bottom: 3px solid black;
}